<section id="contact-us" class="section is-medium section-secondary">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced light-text">Contact Us</h2>
      <h3 class="subtitle is-5 light-text">Let me know how can we help you</h3>
    </div>
    <div class="content-wrapper">
      <form
        action="https://getform.io/f/f55c8c70-4858-4e56-b5a8-6f5abc82eb6e"
        method="POST"
      >
        <div class="field">
          <label class="label light-text">Name</label>
          <div class="control has-icons-left">
            <input class="input" type="text" name="name" />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label light-text">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="email" name="email" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label light-text">Phone Number</label>
          <div class="control has-icons-left">
            <input class="input" type="tel" name="tel" />
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label light-text">Request</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Hi, I would like to.."
              name="detail"
            ></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
