{{- $inServerMode := .Site.IsServer }}
{{- $userstylesTarget    := "css/userstyles.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $userstylesTarget "enableSourceMap" true) (dict "targetPath" $userstylesTarget "outputStyle" "compressed") }}
{{- if $inServerMode }}
{{- $usercss := resources.Get "styles/userstyles.sass" | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $usercss.RelPermalink }}">
{{- else }}
{{- $usercss := resources.Get "styles/userstyles.sass" | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $usercss.RelPermalink }}" integrity="{{ $usercss.Data.Integrity }}">
{{- end }}
